header {
    text-align: center;
    color: red;
}

.square {
    width: 100px;
    height: 100px;
    background-color: red;
    text-align: center;
}

.move {  
    position: relative;
    animation: moveToRight 30s;     
    animation-direction: forwards;
}

@keyframes moveToRight {
    from { left: 0; top: 0}
    to {left: calc(100% - 100px); top: 0;}
}

