header {
    text-align: center;
    color: red;
}

.square {
    width: 100px;
    height: 100px;
    background-color: red;
    left: 0px;
}

.move {  
    width: 100px;
    height: 100px;
    position: relative;
    animation: moveToRight 30s;     
    animation-direction: normal;
}

@keyframes moveToRight {
    0% { left: 0; top: 0}
    100% {left: 90%; right: 0; top: 0;}
}